li {
    list-style: none;
}

::placeholder {
    color: red;
}

#box {
    width: 780px;
    height: 780px;
    background-color: pink;
    background: url(../imgs/ok.jpg);
    background-repeat: no-repeat;
}